body {
    background:  #33CCCC; 
    text-align: center;
   }
   li {
   	font-weight: bold; 
   	font-style: italic; 
   	text-decoration: underline;
   }
   .spisok1{
   	color: brown;
   }
   .spisok2{
   	color: #74FF00;
   }